// ==========================================================================
// DEFAULT THEME (LIGHT)
// ==========================================================================

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-accent: #{$color-accent};
  --color-background: #{$color-background};
  --color-text-primary: #{$color-text-primary};
  --color-text-secondary: #{$color-text-secondary};
}
