// ==========================================================================
// TYPOGRAPHY
// ==========================================================================

.font-geo-regular {
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
}

.font-geo-medium {
  font-family: $font-family-primary;
  font-weight: $font-weight-medium;
}

.font-geo-bold {
  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
}

.font-rockybilly {
  font-family: $font-family-secondary;
}

.font-body {
  font-family: $font-family-body;
}

.font-family-logo {
  font-family: $font-family-logo;
  font-weight: $font-weight-medium;
  font-size: 2rem;
}
