// ==========================================================================
// HOME PAGE - BEM Architecture
// ==========================================================================

.hero {
  &__div {
    margin: 10px;
    border-radius: 16px;
    height: calc(100svh - 8.25rem);
    justify-content: center;
    overflow: hidden;
    z-index: 100;

    &-img {
      @include flex-center;
      border-radius: 16px;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left 65%;
      background-image: url("/landing-page-helmet.jpg");
    }

    @include respond-to("md") {
      height: calc(100svh - 8.25rem);
    }
  }
  &__container {
    @include flex-center;
    width: 100%;
    flex-direction: column;
    margin: spacing("sm");
    padding: spacing("2xl");
    border-radius: $border-radius-base;
    background-size: cover;
    background-position: center;

    @include respond-to("md") {
      align-items: flex-end;
    }
  }

  &__title {
    position: relative;
    z-index: 20;
    margin: 0 spacing("sm") spacing("lg");
    font-family: $font-family-geo-bold;
    // font-size: calc(150 / var(--vw) * var(--multiplier));
    font-size: calc(2 * (7.92453px + 1.88679vw));
    font-weight: $font-weight-bold;
    line-height: 1.1;
    letter-spacing: 0.01em;
    text-align: center;
    color: $color-secondary;
    text-shadow: 0 2px 4px rgba($color-primary, 0.5);
    text-wrap: balance;

    @include respond-to("md") {
      margin: 0 spacing("lg") spacing("lg");
    }
  }
}

.product-grid {
  margin: spacing("base") spacing("sm");

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-sm;
    grid-template-columns: repeat(4, 1fr);
  }
}
