.header {
  position: absolute;
  width: 100%;
  z-index: 1;

  &__logo {
    :focus-visible {
      outline: 2px solid $color-primary;
      outline-offset: 3px;
    }
  }

  &__nav {
    background-color: $color-white;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0px 5px 10px -5px #212a2f;
  }

  &__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;

    @include respond-to("md") {
      padding: 8px;
    }
  }

  &__hamburger {
    display: flex;
    align-items: center;
    font-size: $font-size-xl; // Fluid clamp(18px → 24px)
    @include respond-to("md") {
      display: none;
    }
  }
}
