.navigation {
  &__menu {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 32px;

    @include respond-to("md") {
      display: flex;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
    letter-spacing: 2px;
    line-height: 0.9;
    font-size: 12px;
    letter-spacing: 0.05em;

    &-hover {
      position: absolute;
      transform: translateY(100%);
      transition: all 0.3s;
    }

    &-text {
      transition: all 0.3s;

      &:focus-visible {
        outline: 2px solid $color-primary;
        outline-offset: 1px;
      }
    }
  }

  &__brand {
    font-family: $font-family-logo;
    font-weight: $font-weight-bold;
    color: #111;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;

    @include respond-to("md") {
      font-size: 1rem;
      grid-column: 1 / 2;
      justify-content: start;
    }
  }

  &__actions {
    display: flex;
    justify-content: end;
    gap: 9px;
    align-items: center;
    font-size: 1.2rem;

    @include respond-to("md") {
      padding-right: 10px;
    }

    a {
      @include flex-center;
    }
  }

  &__div {
    padding-block: 10px;
  }

  &__div:hover &__link-hover {
    transform: translateY(0);
  }

  &__div:hover &__link-text {
    transform: translateY(-100%);
  }

  &__cart {
    position: relative;
    &--count {
      @include flex-center;
      height: 90%;
      aspect-ratio: 1;
      position: absolute;
      font-size: 0.5rem;
      background-color: $color-primary;
      font-family: $font-family-regular;
      color: white;
      border-radius: 50%;
      transform: translate(50%, 50%);
    }
  }
}

.auth-navigation {
  &__brand {
    font-family: $font-family-logo;
    font-weight: $font-weight-medium;
    color: #111;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
    font-size: 2rem;

    @include respond-to("md") {
      grid-column: 1 / 2;
    }
  }
}
