@import "tailwindcss";

@font-face {
  font-family: "Geograph";
  src: url("./assets/font/TestGeograph-Bold-BF6621def2310ed.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

.font-text {
  font-family: Geograph;
}

.fade-edges {
  position: relative;
}

.fade-edges::before,
.fade-edges::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
  z-index: 10;
}

.fade-edges::before {
  left: 0;
  background: linear-gradient(to right, black, transparent);
}

.fade-edges::after {
  right: 0;
  background: linear-gradient(to left, black, transparent);
}

.animated-span {
  padding-right: 34px;
}
