.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family-primary;
  color: $color-primary;
  margin-inline: auto;
  padding: 10px;
  border-top: 1px solid black;
  max-width: 500px;

  &:last-child {
    border-bottom: 1px solid black;
  }

  &__button {
    // padding: 8px;
    background-color: black;
    height: 1.2rem;
    width: 1.2rem;
    color: $color-secondary;
    border-radius: 50%;
    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    @include respond-to("xs") {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__img {
    width: 75px;
    mix-blend-mode: multiply;

    @include respond-to("xs") {
      width: 100px;
    }

    @include respond-to("md") {
      width: 150px;
    }
  }

  &__imgContainer {
    @include flex-center;
  }

  @include respond-to("sm") {
    width: 100%;
  }

  @include respond-to("lg") {
    max-width: inherit;
  }

  @include respond-to("2xl") {
    max-width: 800px;
  }

  &__typo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;
    flex: 1;

    @include respond-to("xs") {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__namePrice {
    flex: 1;
    text-align: center;
  }
}

.empty-cart {
  text-align: center;
  font-size: larger;
  font-family: font-geo-regular;
}
