.cartPage {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 5px;
  overflow: hidden;

  @include respond-to("md") {
    gap: 20px;
  }

  &__header {
    &--logo {
      font-family: $font-family-logo;
      font-weight: $font-weight-bold;
      color: #111;
      font-size: 0.7rem;
      margin: 5px;
      text-align: center;
      text-shadow: 0px 2px 5px rgba($color-primary, 0.8);

      @include respond-to("xs") {
        font-size: 1rem;
      }
      @include respond-to("sm") {
        font-size: 1.25rem;
      }
      @include respond-to("md") {
        font-size: 1.5rem;
      }
      @include respond-to("lg") {
        font-size: 1.7rem;
      }
      @include respond-to("xl") {
        font-size: 2rem;
      }
    }
  }

  &__text {
    font-size: min(1.2rem, 100dvw);
    font-family: $font-family-geo-bold;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;

    @include respond-to("xs") {
      font-size: 1.7rem;
    }
    @include respond-to("sm") {
      font-size: 2rem;
    }
    @include respond-to("md") {
      font-size: 2.25rem;
    }
    @include respond-to("lg") {
      font-size: 2.5rem;
    }
    @include respond-to("xl") {
      font-size: 3rem;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 5px;
    padding: 5px;
    min-height: 0;
    overflow: hidden;

    &--div {
      padding: 0;
      margin: 0;
      height: 100%;
      padding-right: 10px;
      overflow: hidden;
    }

    &--ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
      margin: auto;
      overflow-y: auto;

      scrollbar-width: thin;
      scrollbar-color: rgba($color-primary, 0.7) transparent;

      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba($color-primary, 0.7);
        border-radius: 4px;
        &:hover {
          background-color: rgba($color-primary, 0.9);
        }
      }
    }

    &--summary {
      display: flex;
      justify-content: center;
      align-items: end;
      height: fit-content;
      padding: 0;

      @include respond-to("md") {
        padding: 20px;
        align-items: start;
        gap: 20px;
      }

      @include respond-to("lg") {
        justify-content: center;
      }

      @include respond-to("2xl") {
        justify-content: start;
      }
    }

    @include respond-to("md") {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }

    @include respond-to("2xl") {
      grid-template-columns: 2fr 1fr;
    }
  }
}
