.hero__title-wrapper {
  position: relative;
  display: inline-block;
}

.mask {
  position: absolute;
  top: -200px;
  left: -200px;
  right: -200px;
  bottom: -200px;
  color: $color-secondary;
  background-color: black;

  mask-image: url("/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 40px;
  z-index: 49;
  pointer-events: none;
  padding: 200px; //compensating the negative positioning

  &__title {
    position: relative;
    z-index: 20;
    margin: 0 spacing("sm") spacing("lg");
    font-family: $font-family-geo-bold;
    // font-size: calc(150 / var(--vw) * var(--multiplier));
    font-size: calc(2 * (7.92453px + 1.88679vw));
    font-weight: $font-weight-bold;
    line-height: 1.1;
    letter-spacing: 0.01em;
    text-align: center;
    text-shadow: 0px 2px 4px rgba($color-primary, 0.5);
    text-wrap: balance;
  }

  .hero__title {
    margin: 0;
  }
}

.hero__title--base {
  color: inherit; // Base text color
}
