.pagination {
  &__section {
    font-size: $font-size-lg;
    font-family: $font-family-regular;
  }

  &__container {
  }
  &__wrapper {
    display: flex;
    gap: 5px;
    flex-direction: column;
    text-align: center;
  }

  &__info {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  &__current {
  }

  &__separator {
  }
  &__total {
  }

  &__controls {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  &__btn {
    letter-spacing: 2px;
    padding: 6px 4px;
    color: $color-primary;

    &:hover {
      text-decoration: underline;
    }

    &:disabled{
      cursor: not-allowed;
      text-decoration: none;
      color: rgba($color: $color-primary, $alpha: 0.5)
    }
  }
}
