.product {
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;

  &__card {
    border-radius: 12px;
    background-color: white;
    padding: 10px;
    font-size: $font-size-sm;
    display: flex;
    flex-direction: column;
    box-shadow:
      0 8px 20px rgba(0, 0, 0, 0.08),
      0 4px 8px rgba(0, 0, 0, 0.06);

    gap: 8px;
    position: relative;

    &--inCartText {
      font-size: 15px;
    }

    &--name {
      font-family: $font-family-primary;
      font-size: $font-size-lg;
      letter-spacing: 0.3px;
      line-height: 20px;

      @include respond-to("lg") {
        font-size: $font-size-2lg;
      }
    }

    &--img {
      width: 100%;
      aspect-ratio: 1;
      //   padding: 10px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0px 6px 20px -12px $color-primary;
      filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));

      &--div {
        padding: 20px;
      }
    }

    &--actions {
      border-radius: 12px;
      transition: all 0.2s;

      &--incart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
      }
    }

    &--category {
      position: absolute;
      right: 10px;
      font-family: $font-family-primary;
      background-color: #e0dacf;
      font-size: $font-size-sm;
      padding: 1px 5px;
      border-radius: 10px;

      //   @include respond-to("md") {
      //     font-size: $font-size-sm;
      //   }

      @include respond-to("lg") {
        font-size: $font-size-base;
      }
    }

    &--Rs {
      font-size: $font-size-lg;
    }

    &--price {
      font-family: $font-family-primary;
      color: #111;
      font-size: $font-size-2lg;
    }

    &--button {
      background: linear-gradient(135deg, #1c1c1c, #2f2f2f);

      color: white;

      text-align: center;
      border-radius: 12px;
      font-weight: 600px;
      letter-spacing: 0.4px;
      transition: all 0.1s ease-in-out;

      &-full {
        width: 100%;
      }

      &:focus-visible:not(:disabled) {
        outline: 5px solid $color-primary;
        outline-offset: 2px;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover:not(:disabled) {
          // background-color: #ffffff;
          background: linear-gradient(135deg, #000, #222);
          transform: translateY(-2px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        &:active:not(:disabled) {
          transform: translateY(-2%);
          box-shadow: 0px 2px 10px -1px $color-primary;
        }
      }

      &:disabled {
        cursor: not-allowed;
      }

      &--incdec {
        background-color: $color-primary;
        color: $color-secondary;
        font-size: 23px;
        height: 100%;
        width: 100%;
      }
    }
    @include respond-to("lg") {
      font-size: $font-size-base;
    }

    &--stock {
      color: #666;
    }
  }

  @include respond-to("sm") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to("md") {
    grid-template-columns: repeat(4, 1fr);
  }
}
