.slide-in {
  width: 100%;
  height: 100vh;
  display: flex;
  pointer-events: none;
}

.slide-in-child {
  flex: 1;
  height: 100%;
  background: $color-transition-background;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slide-in[data-exiting="true"] .slide-in-child {
  transform: scaleY(1);
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  pointer-events: none;
  z-index: 1000;
}

.slide-out-child {
  flex: 1;
  height: 100%;
  background: $color-transition-background;
  transform-origin: bottom;
}
